body {
    font: "Raleway", sans-serif;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    top: 15%;
    background: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 255, 0));
}

h1 {
    font: 600 3.5em "Raleway", sans-serif;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    width: 100%;
}

h3 {
    font: 900 1em "Raleway", sans-serif;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
}

#random {
    font: 600 1em "Raleway", sans-serif;
    color: rgba(0, 0, 0, 0.7);
    padding: 0.5em;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5%;
}